/*
 * Please see the included README.md file for license terms and conditions.
 */


/* This file is completely optional and not required. */
/* Note the reference that includes it in the index.html file. */


/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background: white ;
    color: black ;
}


.cu-no-margin{
	margin: 0px !important;
}

div[class*="col-"] {
  background: #fff;
  text-align: left;
  color: #000;
  border: 0px solid #ddd;
  padding: 5px;
}
    
.cu-bottom{
	bottom: 0;
	position: absolute;
	left: 0;
	right:0;
}

.cu-no-padding{
	padding: 0;
}



/* ////////////////////////////////////////////////////////////////////
	
							EVENT DETAIL VIEW
	
//////////////////////////////////////////////////////////////////// */

/* Short info */
.cu-short-info{
	height: 25vh;
	background-color: rgba(0,0,0,0) !important; 
	border: none !important;
	color: white;
}

.cu-short-info ul{
	list-style: none;
	text-align: left;
	-webkit-padding-start: 20px;
}

.cu-short-info li{
	color: white;
	margin-bottom: 1vh;
}

.cu-short-info .listHeader{
	font-size: 1.4em;
}

/* Friend / photo info */
.cu-friends-info{
	height: 25vh;
	background-color: rgba(0,0,0,0) !important; 
	border: none !important;
	color: white;
}

.cu-friends-info ul{
	list-style: none;
	text-align: left;
	-webkit-padding-start: 20px;
}

.cu-friends-info li{
	color: white;
	margin-bottom: 1vh;
}

.cu-friends-info .listHeader{
	font-size: 1.4em;
}

.cu-extra-info, .cu-maps{
	height: 25vh;
}

.cu-extra-info .close{
	display:none;
}

.cu-extra-info h3{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

div.col-50.cu-extra-info{
	overflow: hidden;
	top:25vh;
	left:0%;
/* 	-webkit-transition: width 0.3s ease, height 0.3s ease, border-radius 0.4s ease, top 0.3s ease, left 0.3s ease; */
/*   transition: width 0.3s ease, height 0.3s ease, border-radius 0.4s ease, top 0.3s ease, left 0.3s ease; */
	transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
	position:absolute;
}

div.col-50.cu-extra-info.active{
	position: absolute;
	width: 100%;	
	height: auto;
	min-height: 50vh;
	left: 0%;
	top: 0%;
	z-index: 9;
	padding: 1em;
/* 	-webkit-transition: width 0.3s ease, height 0.3s ease, border-radius 0.4s ease, top 0.3s ease, left 0.3s ease; */
/* 	transition: width 0.3s ease, height 0.3s ease, border-radius 0.4s ease, top 0.3s ease, left 0.3s ease; */
	transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
}

span.more_text.on{
	display: block !important;
	opacity: 1 !important;
	transition: display .5s ease;
}


.page[data-page="event"] .page-content{
	background-color: blue !important;
}

.bg-img:before{
   content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 35%,rgba(0,0,0,1) 57%,rgba(0,0,0,1) 100%);
	opacity: .6; 
}

/* ////////////////////////////////////////////////////////////////////
	
							MAP CANVAS
	
//////////////////////////////////////////////////////////////////// */

.cu-maps{
	padding: 0px !important;
}

#map_canvas{
	height: 100%;
}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}


