/*
 * Please see the included README.md file for license terms and conditions.
 */


/* This file is completely optional and not required. */
/* Note the reference that includes it in the index.html file. */


/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background: white ;
    color: black ;
}


.cu-no-margin{
	margin: 0px !important;
}

div[class*="col-"] {
  background: #fff;
  text-align: left;
  color: #000;
  border: 0px solid #ddd;
  padding: 5px;
}
    
.cu-bottom{
	bottom: 0;
	position: absolute;
	left: 0;
	right:0;
}

.cu-no-padding{
	padding: 0;
}



/* ////////////////////////////////////////////////////////////////////
	
							EVENT DETAIL VIEW
	
//////////////////////////////////////////////////////////////////// */

/* Short info */
.cu-short-info{
	height: 25vh;
	background-color: rgba(0,0,0,0) !important; 
	border: none !important;
	color: white;
}

.cu-short-info ul{
	list-style: none;
	text-align: left;
	-webkit-padding-start: 20px;
}

.cu-short-info li{
	color: white;
	margin-bottom: 1vh;
}

.cu-short-info .listHeader{
	font-size: 1.4em;
}

/* Friend / photo info */
.cu-friends-info{
	height: 25vh;
	background-color: rgba(0,0,0,0) !important; 
	border: none !important;
	color: white;
}

.cu-friends-info ul{
	list-style: none;
	text-align: left;
	-webkit-padding-start: 20px;
}

.cu-friends-info li{
	color: white;
	margin-bottom: 1vh;
}

.cu-friends-info .listHeader{
	font-size: 1.4em;
}

.cu-extra-info, .cu-maps{
	height: 25vh;
}

.cu-extra-info .close{
	display:none;
}

.cu-extra-info h3{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

div.col-50.cu-extra-info{
	overflow: hidden;
	top:25vh;
	left:0%;
/* 	-webkit-transition: width 0.3s ease, height 0.3s ease, border-radius 0.4s ease, top 0.3s ease, left 0.3s ease; */
/*   transition: width 0.3s ease, height 0.3s ease, border-radius 0.4s ease, top 0.3s ease, left 0.3s ease; */
	transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
	position:absolute;
}

div.col-50.cu-extra-info.active{
	position: absolute;
	width: 100%;	
	height: auto;
	min-height: 50vh;
	left: 0%;
	top: 0%;
	z-index: 9;
	padding: 1em;
/* 	-webkit-transition: width 0.3s ease, height 0.3s ease, border-radius 0.4s ease, top 0.3s ease, left 0.3s ease; */
/* 	transition: width 0.3s ease, height 0.3s ease, border-radius 0.4s ease, top 0.3s ease, left 0.3s ease; */
	transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
}

span.more_text.on{
	display: block !important;
	opacity: 1 !important;
	transition: display .5s ease;
}


.page[data-page="event"] .page-content{
	background-color: blue !important;
}

.bg-img:before{
   content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 35%,rgba(0,0,0,1) 57%,rgba(0,0,0,1) 100%);
	opacity: .6; 
}

/* ////////////////////////////////////////////////////////////////////
	
							MAP CANVAS
	
//////////////////////////////////////////////////////////////////// */

.cu-maps{
	padding: 0px !important;
}

#map_canvas{
	height: 100%;
}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/***************************************
*
*	Photo timeline style
*
***************************************/

.photo_timeline {
	max-width:100%;
	max-height:100%;
}

/***************************************
*
*	Icons
*
***************************************/

i.tabbar-camera {
    width: 25px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 19' fill='%23929292'><g><path d='M23,3h-4.1l-2.4-2.4c0,0,0,0,0,0l0,0C16.1,0.2,15.6,0,15,0h-5C9.5,0,8.9,0.3,8.6,0.6l0,0L6.2,3H2C0.9,3,0,3.9,0,5v12 c0,1.1,0.9,2,2,2h21c1.1,0,2-0.9,2-2V5C25,3.9,24.1,3,23,3z M24,17c0,0.6-0.4,1-1,1H2c-0.6,0-1-0.4-1-1V5c0-0.6,0.4-1,1-1h4.2h0.4 l0.3-0.3l1.2-1.2l0,0.1l1.1-1.2C9.5,1.1,9.8,1,10,1h5c0.3,0,0.5,0.1,0.7,0.3l2.4,2.4L18.4,4h0.4H23c0.6,0,1,0.4,1,1V17z'/><path d='M12.5,4C8.9,4,6,6.9,6,10.5c0,3.6,2.9,6.5,6.5,6.5c3.6,0,6.5-2.9,6.5-6.5C19,6.9,16.1,4,12.5,4z M12.5,16 c-3,0-5.5-2.5-5.5-5.5C7,7.5,9.5,5,12.5,5S18,7.5,18,10.5C18,13.5,15.5,16,12.5,16z'/><path d='M12.5,6C10,6,8,8,8,10.5C8,13,10,15,12.5,15s4.5-2,4.5-4.5C17,8,15,6,12.5,6z M12.5,14C10.6,14,9,12.4,9,10.5 C9,8.6,10.6,7,12.5,7S16,8.6,16,10.5C16,12.4,14.4,14,12.5,14z'/></g></svg>");
}

.active i.tabbar-camera {
	background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 19' fill='%23007aff'><g><path d='M23,3h-4.1l-2.4-2.4c0,0,0,0,0,0l0,0C16.1,0.2,15.6,0,15.1,0h-5C9.5,0,9,0.3,8.6,0.6l0,0L6.2,3H2C0.9,3,0,3.9,0,5v12 c0,1.1,0.9,2,2,2h21c1.1,0,2-0.9,2-2V5C25,3.9,24.1,3,23,3z M12.5,16c-3,0-5.5-2.5-5.5-5.5C7,7.5,9.5,5,12.5,5c3,0,5.5,2.5,5.5,5.5 C18,13.5,15.5,16,12.5,16z'/><circle cx='12.5' cy='10.5' r='4.5'/></g></svg>");
}

i.tabbar-list {
	width: 25px;
	height: 30px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2042%2026'%3E%3Cpath%20fill%3D'%23929292'%20d%3D'M0%2C0h4v4H0V0z%20M8%2C1h34v2H8V1z%20M0%2C11h4v4H0V11z%20M8%2C12h34v2H8V12z%20M0%2C22h4v4H0V22z%20M8%2C23h34v2H8V23z'%2F%3E%3C%2Fsvg%3E");
}

.active i.tabbar-list {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2042%2026'%3E%3Cpath%20fill%3D'%23007aff'%20d%3D'M0%2C0h4v4H0V0z%20M8%2C1h34v2H8V1z%20M0%2C11h4v4H0V11z%20M8%2C12h34v2H8V12z%20M0%2C22h4v4H0V22z%20M8%2C23h34v2H8V23z'%2F%3E%3C%2Fsvg%3E");
}